<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.alibaba.gongyuan.dao.UserDao">
    <select id="countAll" resultType="int">  <!-- 查询表中记录总数 -->
        select count(*) c from tb_user;
    </select>
    
    <select id="selectAll" resultType="com.alibaba.gongyuan.entity.User">    <!-- 查询表中的所有用户 -->
        select * from tb_user order by username asc
    </select>
    
    <insert id="insert" parameterType="com.alibaba.gongyuan.entity.User">    <!-- 向数据库中插入用户 -->
        insert into tb_user(username,password,email,sex,age) values(#{username},#{password},#{email},#{sex},#{age})
    </insert>
    
    <update id="update" parameterType="com.alibaba.gongyuan.entity.User">     <!-- 更新库中的用户 -->
        update tb_user set username=#{username},password=#{password},email=#{email},sex=#{sex},age=#{age} where username=#{username}
    </update>
    
    <delete id="delete" parameterType="String">    <!-- 删除用户 -->
        delete from tb_user where username=#{username}
    </delete>
    
    <select id="findByUserName" parameterType="String" resultType="com.alibaba.gongyuan.entity.User"> <!-- 根据用户名查找用户 -->
        select * from tb_user where username=#{username}
    </select>
</mapper>